{
	"attributesList":[],
	"groupTypeList":[],
	"id":"",
	"interfaceList":[],
	"lastUpdatedBy":"",
	"lastUpdatedDatetime":0,
	"name":"{{ data['profileName'] }}",
	"namespace":"wlan",
	"namingPrefix":"",
	"primaryDeviceType":"",
	"secondaryDeviceType":"",
	"profileAttributes":[{
		"key":"wireless.ssid",
		"value":"{{ data['ssid'] }}",
		"attribs":[{
			"key":"wireless.fabric",
			"value":true
			},{
			"key":"wireless.flexConnect",
			"value":false
			},{
			"key":"wireless.authMode",
			"value":"central"
			},{
			"key":"wireless.trafficSwitchingMode",
			"value":"fabric"
			}]
		}],
	"siteAssociationId":"",
	"siteProfileType":"",
	"siteProfileUuid":"",
	"status":"",
	"version":0
}