{
    "ipPoolName":"{{ data['ipPoolName'] }}",
    "ipPoolCidr":"{{ data['ipPoolCidr'] }}",
    "gateways":["{{ data['gateways'] }}"],
    "dhcpServerIps":[{{ data['formattedDhcpIps'] }}],
    "dnsServerIps":[{{ data['formattedDnsIps'] }}],
    "overlapping":"{{ data['overlapping'] }}"
}
