{
  "ipAddress": "{{ data['ipAddress'] }}",
  "authenticationPort": "{{ data['authenticationPort'] }}",
  "accountingPort": "{{ data['accountingPort'] }}",
  "timeoutSeconds": "{{ data['timeoutSeconds'] }}",
  "retries": "{{ data['retries'] }}",
  "sharedSecret": "{{ data['sharedSecret'] }}",
  "protocol": "{{ data['protocol'] }}",
  "role": "{{ data['role'] }}",
  "iseEnabled": "{{ data['iseEnabled'] }}"
}