[
    {
        "type": "ConnectivityDomain",
        "name": "{{ data['name'] }}",
        "description": "",
        "domainType": "{{ data['type'] }}",
        "virtualNetwork": {{ data['virtualNetwork'] }},
        "isDefault": false,
        "enableMonitoring": true
    }
]