[{
	"instanceType":"reference",
	"instanceUuid":"{{ data['instanceUuid'] }}",
	"namespace":"global",
	"type":"reference.setting",
	"key":"{{ data['key'] }}",
	"version":13,
	"value":[{"objReferences":["{{ data['id'] }}"],"type":"{{ data['value'][0]['type'] }}","url":""}],
	"groupUuid":"-1",
	"inheritedGroupUuid":"",
	"inheritedGroupName":"",
	"id":"{{ data['id'] }}"
}]