[
    {
        "id": "{{ data['fabric'][0]['id'] }}",
        "type": "{{ data['fabric'][0]['type'] }}",
        "name": "{{ data['fabric'][0]['name'] }}",
        "domainType": "{{ data['fabric'][0]['domainType'] }}",
        "isDefault": {{ data['fabric'][0]['isDefault'] }},
        "virtualNetwork":{{ data['fabric'][0]['virtualNetwork'] }},
        "deviceInfo": {{ data['fabric'][0]['deviceInfo'] }},
        "multicastInfo": {{ data['fabric'][0]['multicastInfo'] }},
        "enableMonitoring": {{ data['fabric'][0]['enableMonitoring'] }},
        "resourceVersion": {{ data['fabric'][0]['resourceVersion'] }},
        "wirelessMulticastFeature": {{ data['fabric'][0]['wirelessMulticastFeature'] }},
        "authenticationProfileId": "{{ data['authenticationProfileId'] }}"
    }
]